############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=3.3;

############################################################################
# ADC Control Pins
# Pull these down to ensure that the ADC does not see any voltage on its pins
############################################################################
NET "ADC_CAL" 			LOC = P32 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_PD" 			LOC = P33 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_CALRUN" 		LOC = P34 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_SDATA" 		LOC = P75 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_SCLK" 		LOC = P78 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_SCS" 			LOC = P79 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_PDQ" 			LOC = P143 	| IOSTANDARD = LVCMOS18 | PULLDOWN;

############################################################################
# Non-ADC IO Pins 
############################################################################
NET "ANALOG_PWR_EN" 	LOC = P40 | IOSTANDARD = LVCMOS33;
NET "ADC_PWR_EN" 		LOC = P41 | IOSTANDARD = LVCMOS33;
NET "SCL"				LOC = P43 | IOSTANDARD = LVCMOS33;
NET "SDA" 				LOC = P44 | IOSTANDARD = LVCMOS33;
NET "TRIGGER_RST_P"	LOC = P45 | IOSTANDARD = LVCMOS33;
NET "TRIGGER_RST_N" 	LOC = P46 | IOSTANDARD = LVCMOS33;
NET "GPIO[0]" 			LOC = P47 | IOSTANDARD = LVCMOS33;
NET "GPIO[1]"			LOC = P48 | IOSTANDARD = LVCMOS33;

NET "DATA_TRIGGER_N" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "DATA_TRIGGER_P" LOC = P51 | IOSTANDARD = LVCMOS33;

NET "GPIO[2]"			LOC = P57 | IOSTANDARD = LVCMOS33;
NET "CTS"				LOC = P58 | IOSTANDARD = LVCMOS33;
NET "PWR_INT"			LOC = P59 | IOSTANDARD = LVCMOS33;
NET "PWR_KILL" 		LOC = P61 | IOSTANDARD = LVCMOS33;
NET "GPIO[3]"			LOC = P62 | IOSTANDARD = LVCMOS33;
NET "USB_RS232_TXD" 	LOC = P64 | IOSTANDARD = LVCMOS33;
NET "USB_RS232_RXD" 	LOC = P67 | IOSTANDARD = LVCMOS33;


############################################################################
# Clock Pins 
############################################################################
NET "ADC_CLK_P" 		LOC = P126 	| TNM_NET = "tnm_ADC_CLK_P" | IOSTANDARD = LVCMOS18 | PULLDOWN;
#TIMESPEC "TS_ADC_CLK_P" = PERIOD "tnm_ADC_CLK_P" 4 ns HIGH 50%;

NET "ADC_CLK_N" 		LOC = P127 	| TNM_NET = "ADC_CLK_N" | IOSTANDARD = LVCMOS18 | PULLDOWN;
#TIMESPEC TS_ADC_CLK_N = PERIOD "ADC_CLK_N" 250 MHz HIGH 50%;
#According to forum, just apply 

NET "CLK_100MHZ" 		LOC = P55 	| IOSTANDARD = LVCMOS33	| TNM_NET = "CLK_100MHZ";
TIMESPEC "TS_CLK_100MHZ" = PERIOD "CLK_100MHZ" 10 ns HIGH 50 %;

#Second backup clock not populated
#NET "USER_CLK2" LOC = P56 | IOSTANDARD = LVCMOS33 | TNM_NET = "USER_CLK2"; 
#TIMESPEC TS_USER_CLK2 = PERIOD "USER_CLK2" 100 MHz HIGH 50 %;
############################################################################
# Prohibited Programming Pins 
############################################################################
CONFIG PROHIBIT = P38;			#"CSO"
CONFIG PROHIBIT = P39;			#"INIT_B"
CONFIG PROHIBIT = P60;			#"M1"
CONFIG PROHIBIT = P65;			#"DIN
CONFIG PROHIBIT = P66;			#"MOSI"
CONFIG PROHIBIT = P69;			#"M0"
CONFIG PROHIBIT = P70;			#"CCLK"
CONFIG PROHIBIT = P74;			#"DOUT"
CONFIG PROHIBIT = P144;			#"HSWAPEN"

############################################################################
# ADC Data Pins
############################################################################
NET "ADC_DATA_N[15]"	LOC = P131 	| IOSTANDARD = LVCMOS18 | PULLDOWN;  #DQ7
NET "ADC_DATA_P[15]" 	LOC = P132 	| IOSTANDARD = LVCMOS18 | PULLDOWN;  
NET "ADC_DATA_N[14]" 	LOC = P133 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[14]" 	LOC = P134 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[13]" 	LOC = P137 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[13]" 	LOC = P138 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[12]" 	LOC = P139 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[12]" 	LOC = P140 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[11]" 	LOC = P141 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[11]" 	LOC = P142 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[10]" 	LOC = P1 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[10]" 	LOC = P2 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[9]" 		LOC = P5 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[9]" 		LOC = P6 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[8]" 		LOC = P7 	| IOSTANDARD = LVCMOS18 | PULLDOWN;	#DQ0
NET "ADC_DATA_P[8]" 		LOC = P8 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[7]" 		LOC = P9 	| IOSTANDARD = LVCMOS18 | PULLDOWN; 	#DQD7
NET "ADC_DATA_P[7]" 		LOC = P10 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[6]" 		LOC = P11 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[6]" 		LOC = P12 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[5]" 		LOC = P14 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[5]" 		LOC = P15 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[4]" 		LOC = P16 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[4]" 		LOC = P17 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[3]" 		LOC = P21 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[3]" 		LOC = P22 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[2]" 		LOC = P23 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[2]" 		LOC = P24 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[1]" 		LOC = P26 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[1]" 		LOC = P27 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[0]" 		LOC = P29 	| IOSTANDARD = LVCMOS18 | PULLDOWN; #DQD0
NET "ADC_DATA_P[0]" 		LOC = P30 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[31]" 	LOC = P124 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[31]" 	LOC = P123 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[30]" 	LOC = P121 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[30]" 	LOC = P120 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[29]" 	LOC = P119 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[29]" 	LOC = P118 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[28]" 	LOC = P117 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[28]" 	LOC = P116 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[27]" 	LOC = P115 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[27]" 	LOC = P114 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[26]" 	LOC = P112 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[26]" 	LOC = P111 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[25]" 	LOC = P105 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[25]" 	LOC = P104 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[24]" 	LOC = P102 	| IOSTANDARD = LVCMOS18 | PULLDOWN;	#DI0
NET "ADC_DATA_N[24]" 	LOC = P101 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[23]" 	LOC = P100 	| IOSTANDARD = LVCMOS18 | PULLDOWN;	#DID7
NET "ADC_DATA_N[23]" 	LOC = P99 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[22]" 	LOC = P98 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[22]" 	LOC = P97 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[21]" 	LOC = P95 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[21]" 	LOC = P94 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[20]" 	LOC = P93 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[20]" 	LOC = P92 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[19]" 	LOC = P88 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[19]" 	LOC = P87 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[18]" 	LOC = P85 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[18]" 	LOC = P84 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[17]" 	LOC = P83 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_N[17]" 	LOC = P82 	| IOSTANDARD = LVCMOS18 | PULLDOWN;
NET "ADC_DATA_P[16]" 	LOC = P81 	| IOSTANDARD = LVCMOS18 | PULLDOWN;	#DID0
NET "ADC_DATA_N[16]" 	LOC = P80 	| IOSTANDARD = LVCMOS18 | PULLDOWN;

#Created by Constraints Editor (xc6slx9-tqg144-3) - 2013/09/07
INST "ADC_DATA_P<0>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<1>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<2>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<3>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<4>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<5>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<6>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<7>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<8>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<9>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<10>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<16>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<17>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<18>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<19>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<20>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<21>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<22>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<23>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<24>" TNM = tg_adc_data_delayed;
INST "ADC_DATA_P<25>" TNM = tg_adc_data_delayed;

INST "ADC_DATA_P<11>" TNM = tg_adc_data;
INST "ADC_DATA_P<12>" TNM = tg_adc_data;
INST "ADC_DATA_P<13>" TNM = tg_adc_data;
INST "ADC_DATA_P<14>" TNM = tg_adc_data;
INST "ADC_DATA_P<15>" TNM = tg_adc_data;
INST "ADC_DATA_P<26>" TNM = tg_adc_data;
INST "ADC_DATA_P<27>" TNM = tg_adc_data;
INST "ADC_DATA_P<28>" TNM = tg_adc_data;
INST "ADC_DATA_P<29>" TNM = tg_adc_data;
INST "ADC_DATA_P<30>" TNM = tg_adc_data;
INST "ADC_DATA_P<31>" TNM = tg_adc_data;

TIMEGRP "tg_adc_data_delayed" OFFSET = IN -.33 ns VALID 3.65 ns BEFORE "ADC_CLK_P" RISING;
TIMEGRP "tg_adc_data" OFFSET = IN 0 ns VALID 3.65 ns BEFORE "ADC_CLK_P" RISING;